@model IEnumerable<Loppuprojekti_MVC.Models.CountryList>
@{
    ViewBag.Title = "Country";
    string letters = ViewBag.Letters;
    <br />
}

<h1>Countries</h1>
<br />

@if (!string.IsNullOrEmpty(letters))
{
    foreach (var c in letters)
    {
        @Html.ActionLink(c.ToString().ToUpper(), "CountryIndex", new { firstLetter = c.ToString() })

        @: &nbsp;
    }
}
<br />
<p>
    <br />
</p>
@foreach (var s in Model)
{
    <ul>
        @Html.ActionLink(s.Country,"Country", new { country = s.IsoCode })
    </ul>
}