@model Loppuprojekti_MVC.Models.Link

@using Loppuprojekti_MVC.Models;

@{
    ViewData["Title"] = "IUCNurl";
}

<div>
    <p><b>IUCN website for species:</b>: @Html.DisplayFor(model => model.Rlurl)</p>
</div>