@model IEnumerable<Loppuprojekti_MVC.Models.Species>


@{
    ViewData["Title"] = "EWSingleSpecies";
    string letters = ViewBag.Letters;
}
<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <p></p>
        <p></p>
        <h1 class="display-4">List of endangered in the wild species</h1>
        <p class="lead">
            A taxon is extinct in the wild when it is known only to survive in cultivation, in captivity or as a naturalized population (or populations) well outside the past range. A taxon is presumed extinct in the wild when exhaustive surveys in known and/or expected habitat, at appropriate times (diurnal, seasonal, annual), throughout its historic range have failed to record an individual. Surveys should be over a time frame appropriate to the taxon’s life cycle and life form.
        </p>
        <p class="lead"><a href="javascript:void(0);" onclick="history.go(-1);">Back</a></p>
        <p></p>
        <p></p>
        <p></p>
        <p class="lead">
            @if (!string.IsNullOrEmpty(letters))
            {
                foreach (var c in letters)
                {
                    @Html.ActionLink(c.ToString().ToUpper(), "EWSingleSpecies", new { searchTerms = c.ToString() })

                    @: &nbsp;
                }
            }
        </p>

    </div>
</div>



@foreach (var s in Model)
{
    <ul>
        @Html.ActionLink(s.ScientificName, "SingleSpecies", "Species", new { searchTerms = s.ScientificName })
    </ul>
}
<br>
<br>