@{ 
    ViewData["Title"] = "Index";
}

<h2>About - this project</h2>

<h3>Project group Happy Birds</h3>
<p>For our final projectin the Academy C# bootcamp, we wanted to give soemthing back to teh community. Using the IUCN REST API for our final project, we use our newly acquired skills to put higlight the very important work that they do. Bringing endangered species to light keeps it in our minds that our planet is a fragile ecosystem, that we all can take part in cherishing. </p>
<p>Please browse through the searches for threatened species in various countries, or search them with their names.</p>
