
@{
    ViewData["Title"] = "Home Page";
}
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">*@
</head>

<div class="text-center">
    <h1 class="display-4">Welcome to Endangered Planet</h1>
</div>

<div>
    <p>

    </p>
</div>
<div>Data is loaded from IUCN RedList -REST API: <i>IUCN 2018. IUCN Red List of Threatened Species. Version 2018-2</i> <www.iucnredlist.org></div>
@*TODO: Search with common name*@
@using (Html.BeginForm("searchTerms", "Species", "SingleSpecies", FormMethod.Get))
{
    <input type="text" name="searchTerms" placeholder="Scientific name" />

    <input type="submit" name="Search" value="Search" id="searchTerms" />
}
<div>
    <p>

    </p>
</div>
<div>
    <p>

    </p>
</div>
<div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="d-block w-100" src="https://www.despines.com/wp-content/uploads/2012/10/Hyrax-6891.jpg" alt="First slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://www.marylandzoo.org/wp-content/uploads/2017/08/artic_fox_web-1024x683.jpg" alt="Second slide">
        </div>
        <div class="carousel-item">
            <img class="d-block w-100" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSjB5Muq_pwVXz6I9k85SkkzuDgxQNOcktiYQWY3YDjx3-L4FGxYw" alt="Third slide">
        </div>
    </div>
</div>

<div>
    <p>

    </p>
</div>


<ul class="list-group">
    <li class="list-group-item"><a href="https://www.iucnredlist.org/">IUCN RED LIST website</a></li>
    <li class="list-group-item"><a href="https://laji.fi/">Suomen lajitietokeskus </a></li>
    <li class="list-group-item"><a href="http://www.luomus.fi/fi">Luonnontieteellinen keskusmuseo</a></li>
</ul>

